body,
p,
ul,
li,
h3,
input,
textarea,
select,
option,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background-color: #f9f9f9;   
}

a{
    text-decoration: none;
    color: black;
}

.fr{
    float: right;
}
/* 表格上面 操作按钮 */
.operator {
        margin-bottom: 10px
}
/* 滚动条样式设定 */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background-color: #7b40f2;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    background-color: #9466f0;
}
/* 改变input自动填充背景颜色 */
input:-internal-autofill-previewed,
input:-internal-autofill-selected {
  -webkit-text-fill-color: #fff;
  transition: background-color 1000s ease-out 0.5s;
}