body,
p,
ul,
li,
h3,
input,
textarea,
select,
option,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0;
    padding: 0;
}
html,
body {
    height: 100%;
    background-color: #f9f9f9;   
}

a{
    text-decoration: none;
    color: black;
}

.fr{
    float: right;
}
/* 表格上面 操作按钮 */
.operator {
        margin-bottom: 10px
}
